$base-font-color: #ecf5ff;

$base-border-color: #145374;

$base-shadow-color: #66acfd;

$base-bg-color: #409eff;

$base-hover-font-color: #00334e;

$base-hover-border-color: #ecf5ff;

$base-hover-shadow-color: #ecf5ff;

$base-hover-bg-color: #66acfd;
