$base-font-color: #e8e8e8;

$base-border-color: #145374;

$base-shadow-color: #66acfd;

$base-bg-color: #5588a3;

$base-hover-font-color: #00334e;
$base-hover-border-color: #ecf5ff;
$base-hover-shadow-color: #145374;
$base-hover-bg-color: #e8e8e8;

