@import "./reset.scss";

@import "./button/button.scss";

@import "./input/input.scss";

@import "../animate.scss";

@font-face {
  font-family: "iconfont"; /* project id 1196994 */
  src: url("//at.alicdn.com/t/font_1196994_uwbg2nngylb.eot");
  src: url("//at.alicdn.com/t/font_1196994_uwbg2nngylb.eot?#iefix") format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1196994_uwbg2nngylb.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1196994_uwbg2nngylb.woff") format("woff"),
    url("//at.alicdn.com/t/font_1196994_uwbg2nngylb.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1196994_uwbg2nngylb.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "webfont";
  src: url("//at.alicdn.com/t/webfont_03il70vo2yq.eot"); /* IE9*/
  src: url("//at.alicdn.com/t/webfont_03il70vo2yq.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("//at.alicdn.com/t/webfont_03il70vo2yq.woff") format("woff"),
    /* chrome、firefox */ url("//at.alicdn.com/t/webfont_03il70vo2yq.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("//at.alicdn.com/t/webfont_03il70vo2yq.svg#杨任东竹石体-Bold") format("svg"); /* iOS 4.1- */
}
