.chatroom-icon {
  height: 40px !important;
  width: 40px !important;
}
.chatroom{
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 10px;
  width: 350px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #eeeeee;
}

.textarea{
  height: 50px;
}
.close{
  padding: 5px 10px 10px 5px;
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 20px;
  cursor: pointer;
}

.submit{
  margin-top: 10px;
  height: 30px;
}
