.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 30px 50px 30px;
  background: #ffffff;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  animation: login-animate 0.3s;
  animation-fill-mode: forwards;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .username {
    border: 1px solid #fe6c6f;
  }
  .username-info {
    position: relative;
    &:after {
      content: "用户名已存在！";
      position: absolute;
      top: 2px;
      right: 0;
      line-height: 12px;
      color: #fe6c6f;
    }
  }

  .rewrite-password {
    border: 1px solid #fe6c6f;
  }
  .rewrite-password-info {
    position: relative;
    &:after {
      content: "密码不一致";
      position: absolute;
      top: 2px;
      right: 0;
      line-height: 12px;
      color: #fe6c6f;
    }
  }

  .button {
    margin: 10px 0 0 10px;
  }
  .login {
    font-size: 12px;
  }
  .tag {
    margin: 10px 0 0;
    text-align: center;
  }
}
.remove {
  animation: remove-login-animate 0.3s;
  animation-fill-mode: forwards;
}
@keyframes remove-login-animate {
  0% {
    opacity: 1;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 30%;
    left: 50%;
  }
}
@keyframes login-animate {
  0% {
    opacity: 0;
    top: 30%;
    left: 50%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}
